<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8"/>
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <meta name="author" content="hubeiwei"/>
    <meta name="renderer" content="webkit">
    <meta name="description" content="hubeiwei's Blog"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/assets/highlightjs/styles/github.css">
    <link href="/assets/css/style.css" />
</head>
{{ content }}
</html>
